@tailwind base;
@tailwind components;
@layer components {
    h1 {
        @apply text-Primary text-4xl font-semibold  mt-16
    }
    h2 {
        @apply text-Primary text-3xl font-semibold mt-8 
    }
    h3 {
        @apply text-Primary text-2xl font-semibold mt-8 
    }
    h4 {
        @apply text-Secondary shadow-Neutral text-xl font-semibold mt-8 
    }
    h5 {
        @apply text-Primary text-base font-semibold mt-8 
    }
    h6 {
        @apply text-Primary text-sm font-semibold mt-8 
    }
    p {
        @apply text-Primary text-justify text-base font-normal mt-4
    }
    a {
        @apply text-Primary text-base font-normal underline hover:text-Neutral underline-offset-2 decoration-Secondary hover:decoration-Neutral
    }
}
@tailwind utilities;
@layer utilities {
    body::-webkit-scrollbar {
      width: 10px; /* width of the entire scrollbar */
    }
  
    body::-webkit-scrollbar-track {
      background: #4c1d95; /* color of the tracking area */
    }
  
    body::-webkit-scrollbar-thumb {
      background-color: #f5f5f4; /* color of the scroll thumb */
      border-radius: 20px; /* roundness of the scroll thumb */
      border: 3px solid #e986ed;
    }
  }